#weather{
	display: inline-block;
	text-align: center;
}

#weather-condition{

}

#categories{
	height: 300px;
}

#weather #time{
	font-size: 2em;
}

.nvd3 .nv-legend{
	float: left;
}

.box{
	border-radius: 0;
	box-shadow: 0 0 2px #999;
	padding: 20px;
	height: 300px;
	margin: 0 20px 20px 15px;
}

#dashboard-left-sidebar .panel, #dashboard-right-sidebar .panel{
	height: 300px;
}

.achievement{
	font-size: 4em;
	display: block;
	text-align: center;
	color: #ffcb00;
}