@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300);


body {
	padding-top: 50px;
	padding-bottom: 20px;
	font-family: "Lato", sans-serif;
	height: 100%;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, legend {
	font-family: "Roboto Slab", sans-serif;
	font-weight: 400;
	line-height: 1.1;
}

#main{
	min-height: 500px;
	margin-top: 30px;
}

.title{
	border-bottom: 2px solid #f4645f;
}

.feature-title{
	color: #f4645f;
	text-align: center;
}


.container-page {
	position: relative;
	z-index: 200;
	height: 100%;
	margin-bottom: 200px;
	padding-bottom: 50px;
	background-color: #fff;
}

.timelog-jumbotron{

/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(bottom, #8AD0FF 0%, #0C5AA6 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #8AD0FF 0%, #0C5AA6 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom, #8AD0FF 0%, #0C5AA6 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #8AD0FF), color-stop(1, #0C5AA6));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #8AD0FF 0%, #0C5AA6 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to top, #8AD0FF 0%, #0C5AA6 100%);


	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0084c5', endColorstr='#2fbcb2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	color: #fff;
}
.jumbotron p{
	font-weight: 300;
	color: #fff;
}

#social-signup{
	text-align: center;
}

#social-signup a{
	width: 200px;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#user-options-menu{
	margin-top: 8px;
}

#signup-email-section{
	display: none;
	margin-top: 20px;
}

.custom-table>tbody>tr>td{
	border-top: 0 none;
}

.modal-open{
	overflow: visible;
}

.footer{
	background: #3f4245 url(../image/footer-bg.png) repeat-x left top;
	padding-top: 40px;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 100;
	height: 180px;
	width: 100%;
	-webkit-transform: translateZ(0);
	color: #fff;
	font-size: 1.3em;
	font-weight: 300;
}

footer{
	min-height: 100px;
	padding: 20px;
	box-sizing: border-box;
	position: relative;
	text-align: center;
}

footer #copyright{
	text-align: center;
}

footer .social{
	text-align: center;
}

footer .social i{
	border: 2px solid #fff;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	line-height: 50px;
	margin-right: 20px;
}

footer .social i:hover{
	box-shadow: 0 0 15px #13CC90;
}

.footer-links{
	margin-bottom: 30px;
}

.footer-links a{
	bottom: 0px;
	margin-right: 10px;
	text-align: center;
	color: #1485c3;
}

.navbar-default {
background-color: #ee9900;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.col-md-4 h2{
	color: #f4645f;
}

/* Visualization Page */

#daterange {
	background:white;
	border:1px solid #999;
	cursor: pointer;
	padding:4px 8px;
	font-size:16px;
}